<div class="container">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{getTitle()}}<div style="float:right">
                    <a class="btn btn-default" (click)= "getAllPursuits()">
                                Show All                             
                                </a>                           
                            </div>
        </div>

        <!-- Filter the pursuits   -->
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]= 'listFilter' />
                </div>
            </div>
            <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
            <div style='float:right'>
                                        
                            </div>
            <div class='table-responsive'>
                <table class='table' *ngIf='pursuits && pursuits.length'>
                    <thead>
                        <tr>
                            <th>
                                <a class="btn btn-default" (click)= "togglePursuitInfo()">
                                {{ (showPursuitInfo ? "Hide details" : "Show details")}}                             
                                </a>
                            </th>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Client</th>
                            <th>Unit</th>
                            <th>Region</th>
                            <th>Billing</th>
                            <th>AE</th>
                            <th>Stage</th>
                            <th>Risk</th>
                            <th>Other Details</th>                                                
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let pursuit of pursuits | PursuitFilter : listFilter'>
                            <td>
                                <a [routerLink]="['/pursuit', pursuit.PursuitNumber]">
                                    <img 
                                    style="width:32px;height:32px"
                                    src='app/assets/images/openrecord.jpg'
                                    [title] = 'pursuit.PursuitName' >
                                </a>
                            </td>
                            <td>{{ pursuit.PursuitNumber }}</td>
                            <td>{{ pursuit.PursuitName }}</td>
                            <td>{{ pursuit.ClientName }}</td>
                            <td>{{ pursuit.UnitName }}</td>
                            <td>{{ pursuit.Region }}</td>
                            <td>{{ pursuit.BillingType }}</td>
                            <td>{{ pursuit.AE }} </td>
                            <td>{{ pursuit.Stage }}</td>
                            <td>
                                <sc-risk [risklevel] ='pursuit.RiskLevel' 
                                *ngIf='pursuit.RiskLevel'>
                                </sc-risk>
                            </td>
                            <td>{{ (showPursuitInfo ? pursuit.Details : pursuit.Details.substring(0,3) +"..." )}}</td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>