<div class="container">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{getTitle()}}
            <div style="float:right">
                    <a class="btn btn-default" (click)= "getAllUnits()">
                                Show All                             
                                </a>                           
                            </div>
        </div>

        <!-- Filter the units   -->
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]= 'listFilter' />
                </div>
            </div>
            <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
        
            <div class='table-responsive'>
                <table class='table' *ngIf='units && units.length'>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Region</th>
                            <th>State</th>
                            <th>latitude</th>
                            <th>longitude</th>
                            <th>GVP</th>
                            <th>No. of Consultants</th>                                                                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let unit of units | UnitFilter : listFilter'>
                            <td>
                                <a [routerLink]="['/unit', unit.ID]">
                                    <img 
                                    style="width:32px;height:32px"
                                    src='app/assets/images/openrecord.jpg'
                                    [title] = 'unit.Name' />
                                </a>
                            </td>
                            <td>{{ unit.Name }}</td>
                            <td>{{ unit.Region }}</td>
                            <td>{{ unit.State }}</td>
                            <td>{{ unit.latitude }}</td>
                            <td>{{ unit.longitude }}</td>
                            <td>{{ unit.GVP }}</td>
                            <td>{{ unit.ConsultantCount }} </td>                                                
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>