.btn{
    padding: 6px 6px;
    font-size: small;
    line-height: .9;
    
}

.form-group{
    margin-bottom: 5px;
}
.form-control{
    height: 25px;
}

.alert{
    padding: 1px;
    margin-bottom: 3px;
}